<h1> Listado de usuarios: </h1>
<% @users.each do |user| %>
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="align-items-center">
          
        <p class="text-dark" ><span class="font-weight-bold"> Email: </span><span> <%= user.email%> </span> </p>
        <span>
            <p class="text-dark" ><span class="font-weight-bold"> Creado el día: </span><span> <%= user.created_at.strftime("%D") %> </span> </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>