<p style="color: green"><%= notice %></p>

<div id="horarios">
  <% @horarios.each do |horario| %>
    <%= render horario %>
    <p>
      <%= link_to "Show this horario", horario %>
    </p>
  <% end %>
</div>

<%= link_to "New horario", new_horario_path %>