<p style="color: green"><%= notice %></p>

<h1>Schedules</h1>

<div id="schedules">
  <% @schedules.each do |schedule| %>
    <%= render schedule %>
    <p>
      <%= link_to "Show this schedule", schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New schedule", new_schedule_path %>
