<p style="color: green"><%= notice %></p>

<h1>Turnos</h1>

<div id="turns">
<div class="container-fluid d-flex flex-wrap">
  <% @turns.each do |turn| %>
    <div class=" col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class=" align-items-center">
            <%= render turn %>
       <div>
    <p>
      <%= link_to "Ver turno", turn,  class: "btn btn-info" %>
    </p>
    </div>
    </div>
    </div>
  </div>
</div>
  <% end %>
</div>
  <%= link_to "Solicitar turno", new_turn_path, class:"btn btn-success" %>
</div>
