<h1>Editando sucursal</h1>

<%= render "form", sucursal: @branch_office %>

<br>

<div>
  <%= link_to "Show this sucursal", @branch_office %> |
  <%= link_to "Back to sucursals", sucursals_path %>
</div>