<p style="color: green"><%= notice %></p>

<h1>Sucursals</h1>

<div id="sucursals">
  <% @sucursals.each do |sucursal| %>
    <%= render sucursal %>
    <p>
      <%= link_to "Show this sucursal", sucursal %>
    </p>
  <% end %>
</div>

<%= link_to "New sucursal", new_sucursal_path %>
